In [1]:
import pandas as pd
from sqlalchemy import create_engine, text
import warnings
warnings.filterwarnings('ignore')

In [2]:
DATABASE_URL = "postgresql://admin:postgres@localhost:55432/warehouse_kopi"
engine = create_engine(DATABASE_URL)

In [8]:
print("Validasi Jumlah Baris ")
tables = ['dim_produk', 'dim_toko', 'dim_waktu', 'fact_penjualan']
for table in tables:
    count = pd.read_sql(f"SELECT COUNT(*) FROM {table}", engine)
    print(f"{table:20} : {count['count'].values[0]:,} baris")

Validasi Jumlah Baris
dim_produk           : 80 baris
dim_toko             : 3 baris
dim_waktu            : 116,129 baris
fact_penjualan       : 149,116 baris

In [11]:
print("Cek Duplikat")
dup_produk = pd.read_sql("""
    SELECT product_id, COUNT(*) as jumlah_duplikat
    FROM dim_produk
    GROUP BY product_id
    HAVING COUNT(*) > 1
""", engine)
print(f"Duplikat store_id: {len(dup_produk)}")

dup_toko = pd.read_sql("""
    SELECT store_id, COUNT(*) as jumlah_duplikat
    FROM dim_toko
    GROUP BY store_id
    HAVING COUNT(*) > 1
""", engine)
print(f"Duplikat store_id: {len(dup_toko)}")

dup_waktu = pd.read_sql("""
    SELECT transaction_date, transaction_time, COUNT(*) as jumlah_duplikat
    FROM dim_waktu
    GROUP BY transaction_date, transaction_time
    HAVING COUNT(*) > 1
""", engine)
print(f"Duplikat date+time: {len(dup_waktu)}")

Cek Duplikat
Duplikat store_id: 0
Duplikat store_id: 0
Duplikat date+time: 0

In [18]:
print("Cek Null Values")
null_produk = pd.read_sql("""
    SELECT
        SUM(CASE WHEN product_id IS NULL THEN 1 ELSE 0 END) as null_product_id,
        SUM(CASE WHEN product_category IS NULL THEN 1 ELSE 0 END) as null_category,
        SUM(CASE WHEN current_unit_price IS NULL THEN 1 ELSE 0 END) as null_price
    FROM dim_produk                          
""", engine)
print(f"dim_produk nulls: {null_produk.sum().sum()}")

null_toko = pd.read_sql("""
    SELECT
        SUM(CASE WHEN store_id IS NULL THEN 1 ELSE 0 END) as null_store_id,
        SUM(CASE WHEN store_location IS NULL THEN 1 ELSE 0 END) as null_location
    FROM dim_toko                       
""", engine)
print(f"dim_toko nulls: {null_toko.sum().sum()}")

null_fact = pd.read_sql("""
    SELECT
        SUM(CASE WHEN transaction_id IS NULL THEN 1 ELSE 0 END) as null_transaction_id,
        SUM(CASE WHEN product_id IS NULL THEN 1 ELSE 0 END) as null_product_id,
        SUM(CASE WHEN time_id IS NULL THEN 1 ELSE 0 END) as null_time_id,
        SUM(CASE WHEN store_id IS NULL THEN 1 ELSE 0 END) as null_store_id,
        SUM(CASE WHEN qty IS NULL THEN 1 ELSE 0 END) as null_qty,
        SUM(CASE WHEN line_total IS NULL THEN 1 ELSE 0 END) as null_total
    FROM fact_penjualan                      
""", engine)
print(f"fact_penjualan nulls: {null_fact.sum().sum()}")

Cek Null Values
dim_produk nulls: 0
dim_toko nulls: 0
fact_penjualan nulls: 0

In [21]:
print("Cek Referential Integrity")
orphan_produk = pd.read_sql("""
    SELECT COUNT(*) as jumlah_orphan
    FROM fact_penjualan f
    WHERE NOT EXISTS (
        SELECT 1 FROM dim_produk d WHERE d.product_id = f.product_id
    )
""", engine)
print(f"Orphan product_id: {orphan_produk['jumlah_orphan'].values[0]}")

orphan_toko = pd.read_sql("""
    SELECT COUNT(*) as jumlah_orphan
    FROM fact_penjualan f
    WHERE NOT EXISTS (
        SELECT 1 FROM dim_toko d WHERE d.store_id = f.store_id
    )
""", engine)
print(f"Orphan store_id: {orphan_toko['jumlah_orphan'].values[0]}")

orphan_toko = pd.read_sql("""
    SELECT COUNT(*) as jumlah_orphan
    FROM fact_penjualan f
    WHERE NOT EXISTS (
        SELECT 1 FROM dim_waktu d WHERE d.time_id = f.time_id
    )
""", engine)
print(f"Orphan time_id: {orphan_toko['jumlah_orphan'].values[0]}")

Cek Referential Integrity
Orphan product_id: 0
Orphan store_id: 0
Orphan time_id: 0

In [23]:
print("Validasi Business logic")
invalid_qty = pd.read_sql("""
    SELECT COUNT(*) as invalid_count
    FROM fact_penjualan
    WHERE qty <= 0
""", engine)
print(f"invalid qty: {invalid_qty['invalid_count'].values[0]}")

invalid_price = pd.read_sql("""
    SELECT COUNT(*) as invalid_count
    FROM fact_penjualan
    WHERE unit_price <= 0
""", engine)
print(f"invalid price: {invalid_price['invalid_count'].values[0]}")

invalid_total = pd.read_sql("""
    SELECT COUNT(*) as invalid_count
    FROM fact_penjualan
    WHERE ABS(line_total - (qty * unit_price)) > 0.01
""", engine)
print(f"Invalid line_total calc: {invalid_total['invalid_count'].values[0]}")

Validasi Business logic
invalid qty: 0
invalid price: 0
Invalid line_total calc: 0

In [24]:
print("Validasi Range Date")
date_range = pd.read_sql("""
    SELECT
        MIN(transaction_date) as min_date,
        MAX(transaction_date) as max_date,
        COUNT(DISTINCT transaction_date) as unique_dates
    FROM dim_waktu
""", engine)
print(f"Date range: {date_range['min_date'].values[0]} - {date_range['max_date'].values[0]}")
print(f"Unique dates: {date_range['unique_dates'].values[0]}")

Validasi Range Date
Date range: 2023-01-01 - 2023-06-30
Unique dates: 181

In [26]:
print("Summary Statistics")
summary = pd.read_sql("""
    SELECT
        COUNT(DISTINCT transaction_id) as total_transactions,
        SUM(qty) as total_quantity_sold,
        SUM(line_total) as total_revenue,
        AVG(line_total) as avg_line_total,
        MIN(line_total) as min_line_total,
        MAX(line_total) as max_line_total
    FROM fact_penjualan
""", engine)

print(f"Total Transactions        : {summary['total_transactions'].values[0]:,}")
print(f"Total Quantity Sold       : {summary['total_quantity_sold'].values[0]:,}")
print(f"Total Revenue             : ${summary['total_revenue'].values[0]:,.2f}")
print(f"Average Line Total        : ${summary['avg_line_total'].values[0]:,.2f}")
print(f"Min Line Total            : ${summary['min_line_total'].values[0]:,.2f}")
print(f"Max Line Total            : ${summary['max_line_total'].values[0]:,.2f}")

Summary Statistics
Total Transactions        : 149,116
Total Quantity Sold       : 214,470
Total Revenue             : $698,812.33
Average Line Total        : $4.69
Min Line Total            : $0.80
Max Line Total            : $360.00