In [1]:
import pandas as pd
from sqlalchemy import create_engine, text
from datetime import datetime
import numpy as np

In [2]:
DATABASE_URL = "postgresql://admin:postgres@localhost:55432/warehouse_kopi"
engine = create_engine(DATABASE_URL)

In [3]:
df_raw = pd.read_excel('../data/Coffee-Shop-Sales.xlsx')
df_raw.head()

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1,2023-01-01,07:06:11,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,2023-01-01,07:08:56,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,2023-01-01,07:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4,2023-01-01,07:20:24,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5,2023-01-01,07:22:41,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg

In [23]:
dim_produk = df_raw[['product_id', 'product_category', 'product_type', 'product_detail', 'unit_price']].copy()
dim_produk = dim_produk.rename(columns={'unit_price': 'current_unit_price'})
dim_produk = dim_produk.drop_duplicates(subset=['product_id'], keep='last')
dim_produk = dim_produk.sort_values('product_id').reset_index(drop=True)

print(f"Total produk unik: {len(dim_produk)}")
dim_produk.head()

Total produk unik: 80

,product_id,product_category,product_type,product_detail,current_unit_price
0,1,Coffee beans,Organic Beans,Brazilian - Organic,18.00
1,2,Coffee beans,House blend Beans,Our Old Time Diner Blend,18.00
2,3,Coffee beans,Espresso Beans,Espresso Roast,14.75
3,4,Coffee beans,Espresso Beans,Primo Espresso Roast,20.45
4,5,Coffee beans,Gourmet Beans,Columbian Medium Roast,15.00

In [6]:
dim_produk.to_sql('dim_produk', engine, if_exists='append', index=False)
print('dim_produk berhasil dimuat ke database')

dim_produk berhasil dimuat ke database

In [24]:
dim_toko = df_raw[['store_id', 'store_location']].copy()
dim_toko = dim_toko.drop_duplicates(subset=['store_id']).reset_index(drop=True)
dim_toko = dim_toko.sort_values('store_id').reset_index(drop=True)

print(f"Total Toko: {len(dim_toko)}")
dim_toko.head()

Total Toko: 3

   store_id   store_location
0         3          Astoria
1         5  Lower Manhattan
2         8   Hell's Kitchen

In [9]:
dim_toko.to_sql('dim_toko', engine, if_exists='append', index=False)
print("dim_toko berhasil dimuat ke database")

dim_toko berhasil dimuat ke database

In [11]:
df_raw['transaction_date'] = pd.to_datetime(df_raw['transaction_date'])
df_raw['transaction_time'] = pd.to_datetime(df_raw['transaction_time'], format='%H:%M:%S').dt.time

dim_waktu = df_raw[['transaction_date', 'transaction_time']].copy()

In [12]:
dim_waktu['day'] = dim_waktu['transaction_date'].dt.day
dim_waktu['month'] = dim_waktu['transaction_date'].dt.month
dim_waktu['month_name'] = dim_waktu['transaction_date'].dt.strftime('%B')
dim_waktu['year'] = dim_waktu['transaction_date'].dt.year
dim_waktu['day_name'] = dim_waktu['transaction_date'].dt.strftime('%A')
dim_waktu['hour'] = pd.to_datetime(dim_waktu['transaction_time'].astype(str)).dt.hour

C:\Users\UsEr\AppData\Local\Temp\ipykernel_8340\2231089530.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dim_waktu['hour'] = pd.to_datetime(dim_waktu['transaction_time'].astype(str)).dt.hour

In [13]:
print(f"Jumlah baris sebelum hapus duplikat: {len(dim_waktu)}")

dim_waktu = dim_waktu.drop_duplicates(subset=['transaction_date', 'transaction_time'], keep='first')
dim_waktu = dim_waktu.reset_index(drop=True)

print(f"Jumlah baris setelah hapus duplikat: {len(dim_waktu)}")

Jumlah baris sebelum hapus duplikat: 149116
Jumlah baris setelah hapus duplikat: 116129

In [15]:
dim_waktu.to_sql('dim_waktu', engine, if_exists='append', index=False)
print("dim_waktu berhasil dimuat ke database")

dim_waktu berhasil dimuat ke database

In [16]:
dim_waktu = pd.read_sql('SELECT * FROM dim_waktu', engine)

In [17]:
dim_waktu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116129 entries, 0 to 116128
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   time_id           116129 non-null  int64
 1   transaction_date  116129 non-null  object
 2   transaction_time  116129 non-null  object
 3   day               116129 non-null  int64
 4   month             116129 non-null  int64
 5   month_name        116129 non-null  object
 6   year              116129 non-null  int64
 7   day_name          116129 non-null  object
 8   hour              116129 non-null  int64
dtypes: int64(5), object(4)
memory usage: 8.0+ MB

In [18]:
fact_penjualan = df_raw.copy()
fact_penjualan['transaction_time'] = pd.to_datetime(fact_penjualan['transaction_time'], format='%H:%M:%S').dt.time

dim_waktu['transaction_date'] = pd.to_datetime(dim_waktu['transaction_date'])
dim_waktu['transaction_time'] = pd.to_datetime(dim_waktu['transaction_time'], format='%H:%M:%S').dt.time

fact_penjualan = fact_penjualan.merge(
    dim_waktu[['transaction_date', 'transaction_time', 'time_id']],
    on=['transaction_date', 'transaction_time'],
    how='inner'
)
fact_penjualan['line_total'] = fact_penjualan['transaction_qty'] * fact_penjualan['unit_price']

In [20]:
fact_penjualan = fact_penjualan[[
    'transaction_id',
    'product_id',
    'time_id',
    'store_id',
    'transaction_qty',
    'unit_price',
    'line_total'
]]

In [21]:
fact_penjualan = fact_penjualan.rename(columns={
    'transaction_qty': 'qty'
})

In [22]:
fact_penjualan.shape

(149116, 7)

In [26]:
fact_penjualan.to_sql('fact_penjualan', engine, if_exists='append', index=False)
print("fact_penjualan berhasil dimuat ke database")

fact_penjualan berhasil dimuat ke database

In [25]:
dim_produk.to_csv("../data/cleaned/dim_produk.csv", index=False)
dim_toko.to_csv("../data/cleaned/dim_toko.csv", index=False)
dim_waktu.to_csv("../data/cleaned/dim_waktu.csv", index=False)
fact_penjualan.to_csv("../data/cleaned/fact_penjualan.csv", index=False)